bin/birdnet-go
bin/birdnet-go.exe
assets/tailwind.css
log/
clips/
spectrograms/
.task/*
.vscode/*
tmp
*.log
*.log.*
*.exe
model/labels_en.txt
model/labels_fi.txt
output/soundscape.wav.txt
output/soundscape.wav.csv
birdnet.db
birdnet.db-shm
birdnet.db-wal
birdnet.txt
custom_confidence_list.txt
node_modules
