{{define "checkbox"}}

<!-- Checkbox field -->
<div class="form-control relative {{.class}}" x-data="checkbox('{{.id}}', '{{.label}}', '{{.model}}', '{{.name}}')">
    <label class="label cursor-pointer justify-start" for="{{.id}}">

        <!-- Checkbox field -->
        <input type="checkbox" id="{{.id}}" :name="name" 
               x-model="{{.model}}" class="checkbox checkbox-primary checkbox-xs mr-2">

        <!-- Have a value for the above field even if checkbox is unchecked -->
        <input type="hidden" :name="name" value="false">

        <span class="label-text">{{.label}}</span>
        <span class="help-icon" @mouseenter="showTooltip = '{{.id}}'"
            @mouseleave="showTooltip = null">ⓘ</span>
    </label>

    <!-- Tooltip -->
    <div x-show="showTooltip === '{{.id}}'" x-cloak
        class="tooltip">
        {{.tooltip}}
    </div>
</div>
{{end}}