{{define "dateInput"}}
<!-- Date input field -->
<div class="form-control relative mt-1" x-data="{
    showTooltip: null
}">
    {{/* No main label needed as it's part of the Date Range label */}}
    <input 
        type="date" 
        id="{{.id}}"
        name="{{.id}}" {{/* Use id for name too, common practice */}}
        x-model="{{.model}}" 
        class="input input-bordered input-sm w-full" {{/* Match styling with textField */}}
        {{if .placeholder}}placeholder="{{.placeholder}}"{{end}}
        aria-describedby="{{.id}}Tooltip"
    />
    {{if .altLabel}}
    <label class="label pt-1 pb-0">
        <span class="label-text-alt">{{.altLabel}}</span>
        {{if .tooltip}}
        <span class="help-icon ml-auto" 
              @mouseenter="showTooltip = '{{.id}}'" 
              @mouseleave="showTooltip = null"
              aria-label="Show help for {{.altLabel}}"
              role="button"
              tabindex="0">ⓘ</span>
        {{end}}
    </label>
    {{end}}
    {{if .tooltip}}
    <div x-show="showTooltip === '{{.id}}'" 
         x-cloak 
         class="tooltip" {{/* Adjusted to match textField tooltip */}}
         id="{{.id}}Tooltip" 
         role="tooltip">
        {{.tooltip}}
    </div>
    {{end}}
</div>
{{end}} 