{{define "dashboard"}}

<!-- daisyUI modal  -->
<dialog class="modal" id="speciesDetectionsModal">
	<div class="modal-box max-w-full">
		<div class="card w-full overflow-auto bg-base-100">
			<div class="card-actions justify-end">
				<form method="dialog">
					<button class="btn btn-circle btn-xs mb-4">X</button>
				</form>
			</div>
			<div id="speciesDetections">
				<!-- Detailed detections will be loaded here -->
			</div>
		</div>
	</div>
</dialog>

<!-- Daily Summary -->
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
	<div class="card-body grow-0 p-2 ml-4">
		<div class="flex justify-between gap-2">
			<span class="card-title grow"><a class="link-hover link">Daily Summary</a></span>
			<!-- Date picker -->
			<button onclick="moveDatePicker(-1)">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.96 123.96" fill="currentColor" class="w-5 h-5">
					<g>
						<g>
							<path d="M85.742,1.779l-56,56c-2.3,2.3-2.3,6.1,0,8.401l56,56c3.801,3.8,10.2,1.1,10.2-4.2v-112 C95.942,0.679,89.543-2.021,85.742,1.779z"></path>
						</g>
					</g>
				</svg>
			</button>
			<input type="date" hx-get="/top-birds" hx-target="#topBirdsChart" hx-trigger="load, change" hx-include="*[name]"
				hx-params="date" class="input w-36 text-sm focus-visible:outline-none" id="datePicker" name="date">
			<button onclick="moveDatePicker(1)">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123.96 123.96" fill="currentColor" class="w-5 h-5">
					<g>
						<g transform="rotate(-180, 61.9775, 61.98)">
							<path d="m85.74,1.78l-56,56c-2.3,2.3 -2.3,6.1 0,8.4l56,56c3.8,3.8 10.2,1.1 10.2,-4.2l0,-112c0,-5.3 -6.4,-8 -10.2,-4.2z" />
						</g>
					</g>
				</svg>
			</button>
		</div>
	</div>

	<div class="overflow-x-auto" id="topBirdsChart">
		<!-- Top Birds Chart will be loaded here -->
	</div>
</section>
<!-- /card -->


<!-- Recent Detections -->
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
	<div class="card-body grow-0 p-2 ml-4">
		<div class="flex justify-between">
			<span class="card-title grow"><a class="link-hover link">Recent detections</a></span>
			<label for="numDetections" class="label">Show:</label>
			<!-- Dropdown for selecting number of detections -->
			<select id="numDetections" name="numDetections"
				hx-get="/last-detections"
				hx-target="#lastDetections"
				hx-trigger="load, change"
				class="select focus-visible:outline-none">
				<option value="5" selected>5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
			</select>
		</div>
	</div>

	<!-- daisyUI card for latest detections -->
	<div class="overflow-x-auto" id="lastDetections">
		<!-- last detections list will be loaded here -->
	</div>
</section>
{{end}}
