{{define "error"}}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malformed Reques</title>
    <link rel="icon" href="data:,"> <!-- Blank favicon to prevent 404 errors -->
    <link href="/assets/tailwind.css" rel="stylesheet" />
</head>

<body class="bg-base-200 h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-3xl font-semibold text-gray-600 mb-8">Malformed Request</h1>

        <!-- Error details including stack trace -->
        <div class="mt-8 text-left">
            <pre class="bg-gray-200 p-4 rounded overflow-x-auto text-sm">{{.Message}}</pre>
        </div>
    
        <!-- Link Buttons -->
        <div class="mt-8 space-x-4">
            <a href="/" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                Go to Dashboard
            </a>
        </div>

    </div>
</body>

</html>
{{end}}