{{define "error-500"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="icon" href="data:,"> <!-- Blank favicon to prevent 404 errors -->
    <link href="/assets/tailwind.css" rel="stylesheet" />
</head>
<body class="bg-base-200 h-screen flex items-center justify-center">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-gray-800 mb-4">500</h1>
        <h2 class="text-3xl font-semibold text-gray-600 mb-4">Internal Server Error</h2>
        
        <!-- Error details including stack trace -->
        <div class="mt-8 text-left">
            <h3 class="text-2xl font-semibold text-gray-700 mb-2">Error Details</h3>
            <pre class="bg-gray-200 p-4 rounded overflow-x-auto text-sm">{{.Message}}</pre>
            <h3 class="text-2xl font-semibold text-gray-700 mt-4 mb-2">Stack Trace</h3>
            <pre class="bg-gray-200 p-4 rounded overflow-x-auto text-sm">{{.StackTrace}}</pre>
        </div>

        <!-- Link Buttons -->
        <div class="mt-8 space-x-4">
            <a href="/" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                Go to Dashboard
            </a>
            <a href="https://github.com/tphakala/birdnet-go/issues" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300">
                Report Issue
            </a>
        </div>

    </div>
</body>
</html>
{{end}}