{{define "index"}}

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>BirdNET-Go Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/assets/tailwind.css" rel="stylesheet" />
	<link href="/assets/custom.css" rel="stylesheet" />
	<!-- htmx -->
	<script src="/assets/htmx.min.js" defer></script>
	<!-- alpine.js -->
	<script src="/assets/alpinejs.min.js" defer></script>
</head>

<body class="drawer min-h-screen bg-base-200 lg:drawer-open">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />

	<div class="drawer-content">
		<div class="grid grid-cols-12 grid-rows-[min-content] gap-y-0 p-3 lg:pt-4 lg:pr-8 lg:pl-8 lg:pb-0">
			{{ template "header" . }}
		</div>
	
		<!-- content -->
		<main>
			<div id="mainContent" class="grid grid-cols-12 grid-rows-[min-content] gap-y-8 p-3 lg:p-8" >
				{{ RenderContent . }}
			</div>
			<!-- Placeholder for dynamic notifications -->
			<div id="status-message"></div>
		</main>
	</div>

	{{ template "sidebar" . }}

	<script>
		// Set the date picker to today's date
		setTimeout(function () {
			var datePicker = document.getElementById('datePicker');
			var today = new Date().toISOString().split('T')[0];
			datePicker.value = today;
		}, 0); // Set timeout for 0ms

		// Function to close the search modal
		function closeSearchModal() {
			document.getElementById('searchModal').classList.remove('modal-open');
		}

		// Add event listener for the search icon button to open the search modal
		document.querySelector('[hx-get="/search-modal"]').addEventListener('click', function () {
			document.getElementById('searchModal').classList.add('modal-open');
		});

		
		document.getElementById('loadMoreButton').addEventListener('click', function() {
    		var currentOffset = parseInt(document.querySelector('#searchParams input[name="offset"]').value);
    		var numResults = parseInt(document.querySelector('#searchParams input[name="numResults"]').value);
		    window.nextOffset = currentOffset + numResults;
		});

	</script>
</body>

</html>

{{end}}