{{define "settings"}}

<form method="POST" action="/update-settings" class="col-span-12 xl:col-span-6">     

<section class="col-span-12 xl:col-span-6">
    <header class="flex items-center gap-2 lg:gap-4">
        <span class="font-light lg:text-2xl">Node Settings</span>
    </header>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Zm6-10.125a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm1.294 6.336a6.721 6.721 0 0 1-3.17.789 6.721 6.721 0 0 1-3.168-.789 3.376 3.376 0 0 1 6.338 0Z" />
            </svg>                         
            <span class="label-text">Node Name</span>
        </div>    
        <input type="text" id="nodeName" name="Main.Name" value="{{.Settings.Main.Name}}" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m10.5 21 5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 0 1 6-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 0 1-3.827-5.802" />
            </svg>                        
            <span class="label-text">Locale</span>
        </div>
        <select id="birdnetLocale" name="BirdNET.Locale" class="input input-bordered w-full">
            {{range .Locales}}
            <option value="{{.Code}}" {{if eq .Code $.Settings.BirdNET.Locale}}selected{{end}}>{{.Name}} ({{.Code}})</option>
            {{end}}
        </select>        
    </div>

</section>

<section class="col-span-12 xl:col-span-6">
    <header class="flex items-center mt-8">
        <span class="font-light lg:text-2xl">BirdNET Settings</span>
    </header>
    
    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
            </svg>                                   
            <span class="label-text">Sensitivity</span>
        </div>
        <input type="number" min="0" max="1.5" step="0.01" id="sensitivity" name="BirdNET.Sensitivity" value="{{.Settings.BirdNET.Sensitivity}}" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="0" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.127 13.6c-.689 1.197-.225 2.18.732 2.732c.956.553 2.041.465 2.732-.732c.689-1.195 5.047-11.865 4.668-12.084c-.379-.219-7.442 8.888-8.132 10.084M10 6c.438 0 .864.037 1.281.109c.438-.549.928-1.154 1.405-1.728A9.664 9.664 0 0 0 10 4C4.393 4 0 8.729 0 14.766c0 .371.016.742.049 1.103c.049.551.54.955 1.084.908c.551-.051.957-.535.908-1.086A10.462 10.462 0 0 1 2 14.766C2 9.85 5.514 6 10 6m7.219 1.25c-.279.75-.574 1.514-.834 2.174C17.4 10.894 18 12.738 18 14.766c0 .316-.015.635-.043.943a1.001 1.001 0 0 0 1.992.182c.033-.37.051-.748.051-1.125c0-2.954-1.053-5.59-2.781-7.516"/>
            </svg>                         
            <span class="label-text">Threshold</span>
        </div>
        <input type="number" min="0" max="1.0" step="0.01" id="threshold" name="BirdNET.Threshold" value="{{.Settings.BirdNET.Threshold}}" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
            </svg>            
            <span class="label-text">TensorFlow CPU Threads</span>         
        </div>
        <span class="label-text text-xs font-bold text-base-content/50">0 equals use all system cpus</span>
    </div>
    <input type="range" min="0" max="4" value="4" class="range range-xs" step="1" name="BirdNET.Threads" value="{{.Settings.BirdNET.Threads}}" />
    <div class="flex w-full justify-between px-2 py-2 text-xs">
        <span>0</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
    </div>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg>                         
            <span class="label-text">Latitude</span>
        </div>
        <input type="number" step="0.0001" id="latitude" name="BirdNET.Latitude" value="{{.Settings.BirdNET.Latitude}}" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <div class="label justify-start gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
              </svg> 
            <span class="label-text">Longitude</span>
        </div>
        <input type="number" step="0.0001" id="longitude" name="BirdNET.Longitude" value="{{.Settings.BirdNET.Longitude}}" class="input input-bordered w-full">
    </div>

</section>


<section class="col-span-12 xl:col-span-6">
    <header class="flex items-center mt-8">      
        <span class="font-light lg:text-2xl">Realtime Settings</span>
    </header>
    
    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m9 9 10.5-3m0 6.553v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 1 1-.99-3.467l2.31-.66a2.25 2.25 0 0 0 1.632-2.163Zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 0 1-1.632 2.163l-1.32.377a1.803 1.803 0 0 1-.99-3.467l2.31-.66A2.25 2.25 0 0 0 9 15.553Z" />
            </svg>
            <span class="label-text grow">Save Audio Clips</span>
            <input type="checkbox" class="toggle toggle-sm" {{if .Settings.Realtime.AudioExport.Enabled}}checked{{end}} name="Realtime.AudioExport.Enabled" value="true" />
        </label>
    </div>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>                      
            <span class="label-text">Clip Save Path</span>
        </label>
        <input type="text" id="audioExportPath" name="Realtime.AudioExport.Path" value="{{.Settings.Realtime.AudioExport.Path}}" class="input input-bordered w-full">
    </div>

    <br>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>            
            <span class="label-text grow">OBS Chat Log</span>
            <input type="checkbox" class="toggle toggle-sm" {{if .Settings.Realtime.Log.Enabled}}checked{{end}} name="Realtime.Log.Enabled" value="true" />
        </label>
    </div>
 
    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
            </svg>             
            <span class="label-text">Chat Log Path</span>
        </label>
        <input type="text" id="audioExportPath" name="Realtime.Log.Path" value="{{.Settings.Realtime.Log.Path}}" class="input input-bordered w-full">
    </div>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="label-text">Minimum Interval between repeating detections (seconds)</span>
        </label>
        <input type="number" min="0" max="60" step="1" id="sensitivity" name="Realtime.Interval" value="{{.Settings.Realtime.Interval}}" class="input input-bordered w-full">
    </div>

    <br>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
            </svg>
            <span class="label-text grow">BirdWeather Upload</span>
            <input type="checkbox" class="toggle toggle-sm" {{if .Settings.Realtime.Birdweather.Enabled}}checked{{end}} name="Realtime.Birdweather.Enabled" value="true"/>
        </label>
    </div>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 0 1 3 3m3 0a6 6 0 0 1-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1 1 21.75 8.25Z" />
            </svg>                                  
            <span class="label-text">BirdWeather API token</span>
        </label>
        <div class="relative w-full">
            <input type="password" id="birdWeatherId" autocomplete="off" name="Realtime.Birdweather.ID" value="{{.Settings.Realtime.Birdweather.ID}}" class="input input-bordered w-full pr-10">
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>                  
            </div>
        </div>
    </div>
</section>

<section class="col-span-12 xl:col-span-6">
    <header class="flex items-center mt-8">
        <span class="font-light lg:text-2xl">Database Settings</span>
    </header>
       
    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
              </svg>                        
            <span class="label-text">Database</span>
        </label>
        <select id="databaseType" name="" value="" class="input input-bordered w-full">
            <option value="en">SQLite</option>
        </select>
    </div>

    <div class="form-control">
        <label class="label cursor-pointer flex justify-start items-center gap-2">                           
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
              </svg>
            <span class="label-text">Path</span>
        </label>
        <input type="text" id="threshold" name="Settings.Output.SQLite.Path" value="{{.Settings.Output.SQLite.Path}}" class="input input-bordered w-full">
    </div>
</section>

<br>

<section class="col-span-12 xl:col-span-6">
    <button type="submit" class="btn btn-primary mt-8 ml-8">Save</button>
</section>

</form>

<script>
    document.getElementById('togglePassword').addEventListener('click', function (e) {
    const passwordInput = document.getElementById('birdWeatherId');
    const toggleIcon = document.getElementById('toggleIcon');
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleIcon.classList.remove('fa-eye');
        toggleIcon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        toggleIcon.classList.remove('fa-eye-slash');
        toggleIcon.classList.add('fa-eye');
    }
});
</script>

{{end}}
