{{define "error-500"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="/assets/tailwind.css" rel="stylesheet" />
    <link href="/assets/custom.css" rel="stylesheet" />
    <script>
        // Set theme before content loads
        if (localStorage.getItem('theme') === 'dark') {
            document.documentElement.setAttribute('data-theme', 'dark');
            document.documentElement.setAttribute('data-theme-controller', 'dark');
        } else {
            document.documentElement.setAttribute('data-theme', 'light');
            document.documentElement.setAttribute('data-theme-controller', 'light');
        }
    </script>
</head>
<body class="min-h-screen bg-base-200 flex items-center justify-center p-4">
    <div class="text-center p-8 rounded-lg bg-base-100 shadow-lg max-w-4xl w-full">
        <h1 class="text-6xl font-bold text-base-content mb-4">500</h1>
        <h2 class="text-3xl font-semibold text-base-content/70 mb-4">Internal Server Error</h2>
        
        <!-- Error details including stack trace -->
        <div class="mt-8 text-left">
            <h3 class="text-2xl font-semibold text-base-content mb-2">Error Details</h3>
            <pre class="bg-base-200 p-4 rounded overflow-x-auto text-sm text-base-content font-mono">{{.Message}}</pre>
            
            {{if or (not .Security.Enabled) .Security.AccessAllowed}}
            <h3 class="text-2xl font-semibold text-base-content mt-4 mb-2">Stack Trace</h3>
            <pre class="bg-base-200 p-4 rounded overflow-x-auto text-sm text-base-content font-mono">{{.StackTrace}}</pre>
            {{end}}
        </div>

        <!-- Link Buttons -->
        <div class="mt-8 space-x-4">
            <a href="/" 
               class="btn btn-primary normal-case text-base font-semibold hover:bg-primary-focus transition duration-300">
                Go to Dashboard
            </a>
            {{if or (not .Security.Enabled) .Security.AccessAllowed}}
            <a href="https://github.com/tphakala/birdnet-go/issues" 
               class="btn btn-accent normal-case text-base font-semibold hover:bg-accent-focus transition duration-300">
                Report Issue
            </a>
            {{else}}
            <a href="/login" 
               class="btn btn-secondary normal-case text-base font-semibold hover:bg-secondary-focus transition duration-300">
                Login to View Details
            </a>
            {{end}}
        </div>
    </div>
</body>
</html>
{{end}}