{{define "checkbox"}}

<!-- Checkbox field -->
<div class="form-control relative {{.class}}" x-data="{ 
    showTooltip: null,
    fieldId: {{if .dynamicId}}'{{.id}}_' + index{{else}}'{{.id}}'{{end}}
}">
    <label class="label cursor-pointer justify-start" :for="fieldId">
        <!-- Checkbox field -->
        <input type="checkbox" :id="fieldId" name="{{.name}}" 
               x-model="{{.model}}" class="checkbox checkbox-primary checkbox-xs mr-2"
               x-ref="input"
               aria-label="{{.label}}"
               :aria-describedby="fieldId + '-tooltip'">

        <!-- Have a value for the above field even if checkbox is unchecked -->
        <input type="hidden" name="{{.name}}" value="false">

        <span class="label-text">{{.label}}</span>
        <span class="help-icon" @mouseenter="showTooltip = fieldId"
            @mouseleave="showTooltip = null">ⓘ</span>
    </label>

    <!-- Tooltip -->
    <div x-show="showTooltip === fieldId" x-cloak
        :id="fieldId + '-tooltip'"
        role="tooltip"
        aria-hidden="true"
        class="tooltip">
        {{.tooltip}}
    </div>
</div>
{{end}}