{{define "textField"}}

<!-- Text input field -->
<div class="form-control relative" x-data="{
    showTooltip: null,
    touched: false,
    validInput() {
        return this.$refs.{{.id}}.validity.valid;
    },
    ...inputField('{{.id}}', '{{.label}}', '{{.model}}', '{{.name}}', '{{.placeholder}}')
}">

    {{if .label}}
    <!-- Label -->
    <label class="label justify-start" for="{{.id}}">
        <span class="label-text capitalize">{{.label}}</span>
        <span class="ml-2 text-sm text-gray-500 cursor-help" @mouseenter="showTooltip = '{{.id}}'"
            @mouseleave="showTooltip = null">ⓘ</span>
    </label>
    {{end}}

    <!-- Input field -->
    <input type="text" id="{{.id}}" :name="name" x-model="{{.model}}" :placeholder="placeholder"
        class="input input-sm input-bordered {{.class}}" :class="{ 'invalid': touched && !validInput() }" 
        x-ref="{{.id}}"
        {{if .disabled}} 
            x-bind:disabled="{{.disabled}}" 
        {{end}}
        {{if .pattern}} 
            pattern="{{.pattern}}" 
            @blur="touched = true" 
            @invalid="touched = true"
            @input="touched = false"
            required
        {{end}}>

    <!-- Validation messages -->
    <span class="text-sm text-red-500" x-show="touched && !validInput()" x-cloak>
        {{with .validationMessage}}
            {{.}}
        {{else}}
            Please enter a valid {{$.label}}
        {{end}}
    </span>

    <!-- Tooltip -->
    <div x-show="showTooltip === '{{.id}}'" x-cloak
        class="absolute left-0 bottom-full mb-2 p-2 bg-gray-100 text-sm rounded shadow-md">
        {{.tooltip}}
    </div>
</div>
{{end}}