{{define "textField"}}

<!-- Text input field -->
<div class="form-control relative" x-data="{ 
    showTooltip: null,
    touched: false,
    fieldId: '{{.id}}{{if .index}}_{{.index}}{{end}}',
    validInput() {
        return this.$refs[this.fieldId] ? this.$refs[this.fieldId].validity.valid : true;
    }
}">

    {{if .label}}
    <!-- Label -->
    <label class="label justify-start" :for="fieldId">
        <span class="label-text capitalize">{{.label}}</span>
        <span class="help-icon" @mouseenter="showTooltip = fieldId"
            @mouseleave="showTooltip = null">ⓘ</span>
    </label>
    {{end}}

    <!-- Input field -->
    <input type="{{with .type}}{{.}}{{else}}text{{end}}" 
        :id="fieldId"
        name="{{.name}}"
        x-model="{{.model}}"
        placeholder="{{with .placeholder}}{{.}}{{end}}"
        class="input input-sm input-bordered {{.class}}"
        :class="{ 'invalid': touched && !validInput() }"
        :x-ref="fieldId"
        {{if .disabled}}x-bind:disabled="{{.disabled}}"{{end}}
        {{if .pattern}}
            pattern="{{.pattern}}"
            @blur="touched = true"
            @invalid="touched = true"
            @input="touched = false"
            required
        {{end}}
        maxlength="255">

    <!-- Validation messages -->
    <span class="text-sm text-red-500"
        x-show="touched && !validInput()"
        x-cloak>
        {{with .validationMessage}}
        {{.}}
        {{else}}
        Please enter a valid {{$.label}}
        {{end}}
    </span>

    <!-- Tooltip -->
    <div x-show="showTooltip === fieldId"
        x-cloak
        class="tooltip">
        {{.tooltip}}
    </div>
</div>
{{end}}