{{define "mainSettings"}}

<!-- Hidden input to always submit the template name -->
<input type="hidden" name="templateName" value="{{.TemplateName}}">

<!-- Node Settings start -->
<div class="collapse collapse-open bg-base-100 shadow-xs col-span-3" 
    role="region" 
    aria-label="Node Settings Section"
    x-data="{
    main: {
        name: '{{.Settings.Main.Name}}',
    },
    mainSettingsOpen: false,
    hasChanges: false,
    showTooltip: null
}" x-init="
    $watch('main', () => { hasChanges = true }, { deep: true });
">

    <!-- control collapse element open state and label visibility -->
    <input type="checkbox" id="mainSettingsOpen" 
        x-on:change="mainSettingsOpen = ! mainSettingsOpen"
        aria-expanded="true" />

    {{template "sectionHeader" dict
        "id" "main"
        "title" "Node Settings"
        "description" "Configure node specific settings"}}

    <div class="collapse-content"
        id="mainSettingsContent" 
        role="group" 
        aria-labelledby="mainDescription">

        <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"    
            id="mainOptionsGroup"
            role="group"
            aria-label="Main Additional Settings">
            
            {{template "textField" dict
                    "id" "nodeName"
                    "model" "main.name"               
                    "name" "realtime.main.name"
                    "label" "Node Name"
                "tooltip" "Node name is used to identify source system in multi node setup, also used as identifier for MQTT messages."}}

        </div>

    </div>
    <!-- Main Settings end -->
</div>

<!-- BirdNET Settings start -->
<div class="collapse collapse-open bg-base-100 shadow-xs col-span-3" 
    role="region" 
    aria-label="BirdNET Settings Section"
    x-data="{ 
    birdnet: {
        sensitivity: {{.Settings.BirdNET.Sensitivity}},
        threshold: {{.Settings.BirdNET.Threshold}},
        overlap: {{.Settings.BirdNET.Overlap}},
        locale: '{{.Settings.BirdNET.Locale}}',
        threads: {{.Settings.BirdNET.Threads}},
        latitude: {{.Settings.BirdNET.Latitude}},
        longitude: {{.Settings.BirdNET.Longitude}},
        modelPath: '{{.Settings.BirdNET.ModelPath}}',
        labelPath: '{{.Settings.BirdNET.LabelPath}}',
    },   
    dynamicThreshold: {
        enabled: {{.Settings.Realtime.DynamicThreshold.Enabled}},
        debug: {{.Settings.Realtime.DynamicThreshold.Debug}},
        trigger: {{.Settings.Realtime.DynamicThreshold.Trigger}},
        min: {{.Settings.Realtime.DynamicThreshold.Min}},
        validHours: {{.Settings.Realtime.DynamicThreshold.ValidHours}},
    },
    rangeFilter: {
        model: '{{.Settings.BirdNET.RangeFilter.Model}}',
        threshold: {{.Settings.BirdNET.RangeFilter.Threshold}},
    },
    birdnetSettingsOpen: false,
    showTooltip: null,
    hasChanges: false
}" x-init="
    $watch('birdnet', () => { hasChanges = true }, { deep: true });
    $watch('dynamicThreshold', () => { hasChanges = true }, { deep: true });
    $watch('rangeFilter', () => { hasChanges = true }, { deep: true });
">

    <!-- control collapse element open state and label visibility -->
    <input type="checkbox" id="birdnetSettingsOpen" 
        x-on:change="birdnetSettingsOpen = ! birdnetSettingsOpen"
        aria-expanded="true" />

    {{template "sectionHeader" dict
        "id" "birdnet"
        "title" "BirdNET Settings"
        "description" "Configure BirdNET AI model specific settings"}}

    <div class="collapse-content"
        id="birdnetSettingsContent"
        role="group" 
        aria-labelledby="birdnetDescription">

        <div 
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6"
             id="birdnetOptionsGroup"
             role="group"
             aria-label="BirdNET Settings">

            {{template "numberField" dict
                "id" "birdnetSensitivity"
                "model" "birdnet.sensitivity"
                "name" "birdnet.sensitivity"
                "label" "Sensitivity"
                "min" "0.5"
                "max" "1.5"
                "step" "0.1"
                "tooltip" "Detection sensitivity. Higher values result in higher sensitivity. Values in 0.5, 1.5."}}

            {{template "numberField" dict
                "id" "birdnetThreshold"
                "model" "birdnet.threshold"
                "name" "birdnet.threshold"
                "label" "Threshold"
                "min" "0.01"
                "max" "0.99"
                "step" "0.01"
                "tooltip" "Minimum confidence threshold. Values in 0.01, 0.99."}}

            {{template "numberField" dict
                "id" "birdnetOverlap"
                "model" "birdnet.overlap"
                "name" "birdnet.overlap"
                "label" "Overlap"
                "min" "0.0"
                "max" "2.9"
                "step" "0.1"
                "tooltip" "Overlap of prediction segments. Values in 0.0, 2.9."}}

            {{template "selectField" dict
                "id" "birdnetLocale"
                "model" "birdnet.locale"
                "name" "birdnet.locale"
                "label" "Locale"
                "tooltip" "Locale for translated species common names."
                "locales" .Locales}}

            {{template "numberField" dict
                "id" "birdnetThreads"
                "model" "birdnet.threads"
                "name" "birdnet.threads"
                "label" "TensorFlow CPU Threads"
                "min" "0"
                "max" "32"
                "step" "1"
                "tooltip" "Number of CPU threads. Set to 0 to use all available threads."}}

        </div>

        <!-- Custom BirdNET Classifier Settings -->
        <div class="text-lg font-medium mt-6 pb-2">Custom BirdNET Classifier</div>

        <div 
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6"
            id="birdnetModelPathGroup"
            role="group"
            aria-label="BirdNET Model Path Settings">

            {{template "textField" dict
                    "id" "birdnetModelPath"
                    "model" "birdnet.modelPath"
                    "name" "birdnet.modelPath"
                    "label" "Model Path (Requires restart to apply)"
                    "tooltip" "Path to external BirdNET model file. Enter absolute or relative path to birdnet-go binary. Leave empty to use the default embedded model."}}
            
            {{template "textField" dict
                    "id" "birdnetLabelPath"
                    "model" "birdnet.labelPath"
                    "name" "birdnet.labelPath"
                    "label" "Label Path (Requires restart to apply)"
                    "tooltip" "Path to external model labels file, .zip or .txt file. Enter absolute or relative path to birdnet-go binary. Leave empty to use the default embedded labels."}}

        </div>

        <!-- Dynamic Threshold Settings -->
        <div class="text-lg font-medium mt-6 pb-2">Dynamic Threshold</div>

        <!-- Dynamic Threshold Enabled -->

        {{template "checkbox" dict
                "id" "dynamicThresholdEnabled"
                "model" "dynamicThreshold.enabled"
                "name" "realtime.dynamicthreshold.enabled"
                "label" "Enable Dynamic Threshold (BirdNET-Go specific feature)"
                "tooltip" "Enables dynamic confidence threshold feature for more adaptive bird call detection."}}


        <div x-show="dynamicThreshold.enabled"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6"
            id="dynamicThresholdOptionsGroup"
            role="group"
            aria-label="Dynamic Threshold Settings">

            <!-- Trigger Threshold -->
            {{template "numberField" dict
                "id" "dynamicThresholdTrigger"
                "model" "dynamicThreshold.trigger"
                "name" "realtime.dynamicthreshold.trigger"
                "label" "Trigger Threshold"
                "tooltip" "The confidence level at which the dynamic threshold is activated. If a bird call is detected with confidence over this value, the threshold for positive matches of that species will be lowered for subsequent calls."}}

     
            <!-- Minimum Dynamic Threshold -->
            {{template "numberField" dict
                "id" "dynamicThresholdMin"
                "model" "dynamicThreshold.min"
                "name" "realtime.dynamicthreshold.min"
                "label" "Minimum Dynamic Threshold"
                "min" "0.0"
                "max" "0.99"
                "step" "0.01"
                "tooltip" "The minimum value to which the dynamic threshold can be lowered. This ensures that the threshold does not drop below an unwanted level."}}

            <!-- Dynamic Threshold Expire Time -->
            {{template "numberField" dict
                "id" "dynamicThresholdValidHours"
                "model" "dynamicThreshold.validHours"
                "name" "realtime.dynamicthreshold.validhours"
                "label" "Dynamic Threshold Expire Time (Hours)"
                "min" "0"
                "max" "1000"
                "step" "1"
                "tooltip" "The number of hours during which the dynamic threshold adjustments remain valid. After this period, the dynamic threshold is reset."}}

        </div>

        <div class="text-lg font-medium mt-6 pb-2">Range Filter</div>

        <!-- Range Filter start -->
        <div 
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6"
            id="rangeFilterOptionsGroup"
            role="group"
            aria-label="Range Filter Settings">

            <!-- Map container -->
            <div class="form-control relative col-span-1 md:col-span-2">              
                <label class="label justify-start" for="locationMap">
                    <span class="label-text">Station Location</span>
                    <span class="help-icon" @mouseenter="showTooltip = 'locationMap'" @mouseleave="showTooltip = null">ⓘ</span>
                </label>
                <div x-show="showTooltip === 'locationMap'" x-cloak class="tooltip">
                    Station location, used to limit bird species to those propable in the region.
                </div>
                <div id="locationMap" 
                    role="application"
                    aria-label="Map for selecting station location"
                    style="height: 300px;">
                    <!-- Add screen reader instructions -->
                    <span class="sr-only">
                        Use arrow keys to navigate map. Press Enter to set location.
                    </span>
                </div>
            </div>

            <!-- Range Filter Settings -->
            <div class="col-span-1 flex flex-col justify-start">

                <!-- Latitude -->
                {{template "numberField" dict
                    "id" "birdnetLatitude"
                    "model" "birdnet.latitude"
                    "name" "birdnet.latitude"
                    "label" "Latitude"
                    "min" "-90.0"
                    "max" "90.0"
                    "step" "0.01"
                    "tooltip" "Station location latitude, used to limit bird species to those propable in the region."}}
 
                <!-- Longitude -->
                {{template "numberField" dict
                    "id" "birdnetLongitude"
                    "model" "birdnet.longitude"
                    "name" "birdnet.longitude"
                    "label" "Longitude"
                    "min" "-180.0"
                    "max" "180.0"
                    "step" "0.01"
                    "tooltip" "Station location longitude, used to limit bird species to those propable in the region."}}

                <!-- Range Filter Model -->
                {{template "selectField" dict
                    "id" "birdnetRangeFilterModel"
                    "model" "rangeFilter.model"
                    "name" "birdnet.rangefilter.model"
                    "label" "Range Filter Model"
                    "tooltip" "BirdNET range filter model version: latest or legacy."
                    "options" (dict
                        "legacy" "legacy"
                        "latest" "latest"
                    )}}

                <!-- Range Filter Threshold -->
                {{template "numberField" dict
                    "id" "birdnetRangeFilterThreshold"
                    "model" "rangeFilter.threshold"
                    "name" "birdnet.rangefilter.threshold"
                    "label" "Threshold"
                    "min" "0.0"
                    "max" "0.99"
                    "step" "0.01"
                    "tooltip" "Confidence level determining which identifications are considered valid, e.g. a threshold of 0.7 means only detections with higher than 70% confidence score are accepted."}}

            </div>

            <!-- Range Filter end -->
        </div>


        <!-- collapse-content end -->
    </div>

</div>

<link rel="stylesheet" href="/assets/leaflet.css" />
<script src="/assets/leaflet.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const latInput = document.getElementById('birdnetLatitude');
        const lngInput = document.getElementById('birdnetLongitude');
        const initialLat = parseFloat(latInput.value) || 0;
        const initialLng = parseFloat(lngInput.value) || 0;
        const initialZoom = 2;
        const detailZoom = 6;

        const map = L.map('locationMap').setView([initialLat, initialLng], initialZoom);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        let marker;

        function updateMarker(lat, lng) {
            const roundedLat = parseFloat(lat).toFixed(3);
            const roundedLng = parseFloat(lng).toFixed(3);

            latInput.value = roundedLat;
            lngInput.value = roundedLng;

            if (marker) {
                marker.setLatLng([lat, lng]);
            } else {
                marker = L.marker([lat, lng], { draggable: true }).addTo(map);
                marker.on('dragend', function (event) {
                    updateMarker(event.target.getLatLng().lat, event.target.getLatLng().lng);
                });
            }
        }

        map.on('click', function (e) {
            updateMarker(e.latlng.lat, e.latlng.lng);
            map.setView(e.latlng);
        });

        // Initialize marker with current values if they exist
        if (initialLat !== 0 || initialLng !== 0) {
            updateMarker(initialLat, initialLng);
            map.setView([initialLat, initialLng], detailZoom);
        }
    });
</script>

<!-- Database Settings start -->
<div class="collapse collapse-open bg-base-100 shadow-xs col-span-3" 
    role="region" 
    aria-label="Database Settings Section"
    x-data="{ 
    outputType: '{{if .Settings.Output.SQLite.Enabled}}sqlite{{else}}mysql{{end}}',
    sqlite: {
        path: '{{.Settings.Output.SQLite.Path}}'
    },
    mysql: {
        host: '{{.Settings.Output.MySQL.Host}}',
        port: '{{.Settings.Output.MySQL.Port}}',
        username: '{{.Settings.Output.MySQL.Username}}',
        password: '{{.Settings.Output.MySQL.Password}}',
        database: '{{.Settings.Output.MySQL.Database}}'
    },
    showPassword: false,
    outputSettingsOpen: false,
    showTooltip: null,
    hasChanges: false
}" x-init="
    $watch('outputType', () => hasChanges = true);
    $watch('sqlite', () => hasChanges = true, { deep: true });
    $watch('mysql', () => hasChanges = true, { deep: true });
">
    <!-- control collapse element open state and label visibility -->
    <input type="checkbox" id="outputSettingsOpen" 
        x-on:change="outputSettingsOpen = !outputSettingsOpen"
        aria-expanded="true" />

    {{template "sectionHeader" dict
        "id" "output"
        "title" "Database Settings"
        "description" "Detections database settings"}}

    <div class="collapse-content"
        id="outputSettingsContent" 
        role="group" 
        aria-labelledby="outputDescription">

        <!-- Database Type -->

        {{template "selectField" dict
            "id" "databaseType"
            "model" "outputType"
            "name" "output.type"
            "label" "Select Database Type"
            "tooltip" "Select the database type to use for storing detections."
            "options" (dict
                "sqlite" "SQLite"
                "mysql" "MySQL"
            )}}

        {{template "noteField" dict
            "condition" "outputType === 'sqlite'"
            "content" "SQLite is recommended database type for most users."}}

        <!-- SQLite Output Settings -->
        <div x-show="outputType === 'sqlite'"
            class="grid grid-cols-1 md:grid-cols-2 gap-x-6"
            id="sqliteOutputSettingsGroup"
            role="group"
            aria-label="SQLite Output Settings">   
        
            {{template "textField" dict
                "id" "sqlitePath"
                "model" "sqlite.path"
                "name" "output.sqlite.path"
                "placeholder" "Enter SQLite database path"
                "label" "SQLite Database Path"
                "tooltip" "SQLite database file path relative to the application directory"}}

        </div>

        <!-- MySQL Output Settings -->
        <div x-show="outputType === 'mysql'"
            class="grid grid-cols-1 md:grid-cols-2 gap-x-6"
            id="mysqlOutputSettingsGroup"
            role="group"
            aria-label="MySQL Output Settings">      

            <!-- MySQL Host -->
            {{template "textField" dict
                "id" "mysqlHost"
                "model" "mysql.host"
                "name" "output.mysql.host"               
                "label" "MySQL Host"
                "placeholder" "Enter MySQL host"
                "tooltip" "MySQL database host (IP or hostname)"}}
  
            <!-- MySQL Port -->
            {{template "numberField" dict
                "id" "mysqlPort"
                "model" "mysql.port"
                "name" "output.mysql.port"
                "placeholder" "Enter MySQL port"
                "label" "MySQL Port"
                "min" "1"
                "max" "65535"
                "tooltip" "MySQL database port (default 3306/TCP)"}}

            <!-- MySQL Username -->
            {{template "textField" dict
                "id" "mysqlUsername"
                "model" "mysql.username"
                "name" "output.mysql.username"
                "placeholder" "Enter MySQL username"
                "label" "MySQL Username"
                "tooltip" "MySQL database username"}}

            <!-- MySQL Password -->
            {{template "passwordField" dict
                "id" "mysqlPassword"
                "model" "mysql.password"
                "name" "output.mysql.password"
                "placeholder" "Enter MySQL password"
                "label" "MySQL Password"
                "tooltip" "MySQL database password"}}

            <!-- MySQL Database -->
            {{template "textField" dict
                "id" "mysqlDatabase"
                "model" "mysql.database"
                "name" "output.mysql.database"
                "placeholder" "Enter MySQL database name"
                "label" "MySQL Database"
                "tooltip" "MySQL database name"}}

        </div>
    </div>
</div>

<!-- User Interface Settings start -->
<div class="collapse collapse-open bg-base-100 shadow-xs col-span-3" 
    role="region" 
    aria-label="User Interface Settings Section"
    x-data="{ 
    dashboard: {
        thumbnails: {
            summary: {{.Settings.Realtime.Dashboard.Thumbnails.Summary}},
            recent: {{.Settings.Realtime.Dashboard.Thumbnails.Recent}}
        },
        summarylimit: {{.Settings.Realtime.Dashboard.SummaryLimit}}
    },
    uiSettingsOpen: false,
    showTooltip: null,
    hasChanges: false
}" x-init="
    $watch('dashboard', () => hasChanges = true, { deep: true });
">

    <!-- control collapse element open state and label visibility -->
    <input type="checkbox" id="uiSettingsOpen" 
        x-on:change="uiSettingsOpen = !uiSettingsOpen"
        aria-expanded="true" />

    {{template "sectionHeader" dict
        "id" "ui"
        "title" "User Interface Settings"
        "description" "Customize user interface"}}

    <div class="collapse-content"
        id="uiSettingsContent" 
        role="group" 
        aria-labelledby="uiDescription">

        <!-- Dashboard Settings -->
        <div class="text-lg font-medium pb-2">Dashboard</div>

        <div 
            class="grid grid-cols-1 md:grid-cols-2 gap-x-6"
            id="dashboardOptionsGroup"
            role="group"
            aria-label="Dashboard Settings">

            <!-- Daily Summary Species Limit -->
            {{template "numberField" dict
                "id" "dashboardSummaryLimit"
                "model" "dashboard.summarylimit"
                "name" "realtime.dashboard.summarylimit"
                "label" "Max Number of Species on Daily Summary Table"
                "tooltip" "Max number of species shown in the daily summary table (Value between 10 and 1000)"
                "min" "10"
                "max" "1000"}}

        </div>

        <!-- Daily Summary Thumbnails -->
        {{template "checkbox" dict
            "id" "dashboardThumbnailsSummary"
            "model" "dashboard.thumbnails.summary"
            "name" "realtime.dashboard.thumbnails.summary"
            "label" "Show Thumbnails on Daily Summary table"
            "tooltip" "Enable to show thumbnails of detected species on the daily summary table"}}


        <!-- Recent Detections Thumbnails -->
        {{template "checkbox" dict
            "id" "dashboardThumbnailsRecent"
            "model" "dashboard.thumbnails.recent"
            "name" "realtime.dashboard.thumbnails.recent"
            "label" "Show Thumbnails on Recent Detections list"
            "tooltip" "Enable to show thumbnails of detected species on the recent detections list"}}

    </div>
</div>
<!-- User Interface Settings end -->
{{end}}