{{define "birdsTableHTML"}}

<table class="table table-zebra">
  
  <thead class="text-xs">
    <tr>
      <th scope="col" class="py-2 px-6 w-0">Species</th>
      <th scope="col" class="py-2 px-4 w-100">Detections</th>
      {{range .Hours}}
      <th scope="col" class="text-center py-2 px-0">{{printf "%02d" .}}</th>      
      {{end}}
      <th scope="col" class="py-2 px-0"></th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $element := .NotesWithIndex}}

    <tr class="">
      <!-- Species row -->
      <th scope="row" class="py-1 px-6 font-medium">
        <a href="#"
          hx-get="/species-detections?species={{urlquery .Note.CommonName}}&date={{urlquery $.SelectedDate}}"
          hx-target="#mainContent"
          hx-trigger="click"
          hx-push-url="true">{{title .Note.CommonName}}
        </a>
        <!-- Bird thumbnail  -->
        <img loading="lazy" width="40" src="{{thumbnail .ScientificName}}" alt="Bird Image" class="h-auto rounded-md">
      </th>

      <td class="py-1 px-3">
        <div class="w-full rounded-full bg-base-300 dark:bg-base-300">
          <div class="progress progress-primary bg-gray-400 dark:bg-gray-400" style="width: {{calcWidth .TotalDetections}}%"></div>
        </div>
      </td>

      <!-- Hourly counts -->
      {{range $hourIndex, $count := $element.HourlyCounts}}
      {{if gt $count 0}}
        <td class="text-center py-0 px-0 heatmap-color-{{heatmapColor $count}}">
          <a href="#"
            hx-get="/species-detections?species={{urlquery $element.Note.CommonName}}&date={{urlquery $.SelectedDate}}&hour={{$hourIndex}}"
            hx-target="#mainContent"
            hx-trigger="click"
            hx-push-url="true">
            {{$count}}</a>
        </td> 
      {{else}}
        <td class="text-center py-0 px-0" data-count="{{$count}}">
            -
        </td>
      {{end}}
    {{end}}
    
      <td class="py-0 px-1"></td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}