{{define "birdsTable"}}
<table class="table table-zebra h-full">
  <!-- Table header -->
  <thead class="sticky-header text-xs">
    <!-- Species header -->
    <th scope="col" class="py-0 px-2 sm:px-4 w-0 h-11">Species
      <span class="species-ball bg-blue-500 text-white">{{len .NotesWithIndex}}</span>
    </th>
    {{if .DashboardSettings.Thumbnails.Summary}}
    <!-- Thumbnail header -->
    <th scope="col" class="py-0 px-2 w-0">Thumbnail</th>
    {{end}}
    <!-- Total detections header -->
    <th scope="col" class="py-0 px-4 w-100 h-11 hidden 2xl:table-cell">Detections</th>
    
    <!-- Hourly view headers (1-hour intervals) -->
    {{range $hourIndex := seq 0 23}}
      {{template "hourHeader" (getHourlyHeaderData $hourIndex "hourly-count" 1 $.SelectedDate $.Sunrise $.Sunset)}}
    {{end}}
    
    <!-- Bi-hourly view headers (2-hour intervals) -->
    {{range $hourIndex := seq 0 23}}
      {{if eq (mod $hourIndex 2) 0}}
        {{template "hourHeader" (getHourlyHeaderData $hourIndex "bi-hourly-count bi-hourly" 2 $.SelectedDate $.Sunrise $.Sunset)}}
      {{end}}
    {{end}}
    
    <!-- Six-hourly view headers (6-hour intervals) -->
    {{range $hourIndex := seq 0 23}}
      {{if eq (mod $hourIndex 6) 0}}
        {{template "hourHeader" (getHourlyHeaderData $hourIndex "six-hourly-count six-hourly" 6 $.SelectedDate $.Sunrise $.Sunset)}}
      {{end}}
    {{end}}
    
    <th scope="col" class="py-0 px-0"></th>
  </thead>
  
  <!-- Table body -->
  <tbody>
    {{range $index, $element := .NotesWithIndex}}
    <tr>
      <!-- Species row -->
      <th scope="row" class="py-1 px-2 sm:px-4 font-medium whitespace-nowrap">
        <a href="#" hx-get="/api/v1/detections?species={{urlquery .Note.CommonName}}&date={{urlquery $.SelectedDate}}&queryType=species" hx-target="#mainContent" hx-trigger="click" hx-push-url="true">{{title .Note.CommonName}}
        </a>
      </th>

      <!-- Bird thumbnail  -->
      {{if $.DashboardSettings.Thumbnails.Summary}}
      <th scope="row" class="py-1 px-2">
        <div class="thumbnail-container">
          <a href="#" hx-get="/api/v1/detections?species={{urlquery .Note.CommonName}}&date={{urlquery $.SelectedDate}}&queryType=species" hx-target="#mainContent" hx-trigger="click" hx-push-url="true">
            <img loading="lazy" width="100%" src="{{thumbnail .ScientificName}}" class="h-auto rounded-md">
          </a>
          <div class="thumbnail-tooltip hidden">
            {{thumbnailAttribution .ScientificName}}
          </div>
        </div>
      </th>
      {{end}}

      <!-- Total detections -->
      <td class="py-1 px-3 hidden 2xl:table-cell">
        <div class="w-full bg-base-300 dark:bg-base-300 rounded-full overflow-hidden relative">
          {{$width := calcWidth .TotalDetections}}
          {{$roundedWidth := roundToNearest $width 5}}
          <div class="progress progress-primary bg-gray-400 dark:bg-gray-400 progress-width-{{$roundedWidth}}">
            {{if and (ge $width 45) (le $width 59)}}
            <!-- Do not let the count label overlap with the progress bar -->
            <span class="text-2xs text-gray-100 dark:text-base-300 absolute right-1 top-1/2 transform -translate-y-1/2">{{.TotalDetections}}</span>
            {{end}}
          </div>
          {{if or (lt $width 45) (gt $width 59)}}
          <span class="text-2xs {{if gt $width 59}}text-gray-100 dark:text-base-300{{else}}text-gray-400 dark:text-base-400{{end}} absolute w-full text-center top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">{{.TotalDetections}}</span>
          {{end}}
        </div>
      </td>

      <!-- Hourly counts (1-hour intervals) -->
      {{range $hourIndex := seq 0 23}}
        {{with getHourlyCounts $element $hourIndex}}
          {{template "countDisplay" dict
            "Class" "hourly-count"
            "HourIndex" $hourIndex
            "Duration" 1
            "Species" $element.Note.CommonName
            "Date" $.SelectedDate
            "Count" (sumHourlyCountsRange $element.HourlyCounts $hourIndex 1)}}
        {{end}}
      {{end}}
      
      <!-- Bi-hourly counts (2-hour intervals) -->
      {{range $hourIndex := seq 0 23}}
        {{if eq (mod $hourIndex 2) 0}}
          {{with getHourlyCounts $element $hourIndex}}
            {{template "countDisplay" dict
              "Class" "bi-hourly-count bi-hourly"
              "HourIndex" $hourIndex
              "Duration" 2
              "Species" $element.Note.CommonName
              "Date" $.SelectedDate
              "Count" (sumHourlyCountsRange $element.HourlyCounts $hourIndex 2)}}
          {{end}}
        {{end}}
      {{end}}
      
      <!-- Six-hourly counts (6-hour intervals) -->
      {{range $hourIndex := seq 0 23}}
        {{if eq (mod $hourIndex 6) 0}}
          {{with getHourlyCounts $element $hourIndex}}
            {{template "countDisplay" dict
              "Class" "six-hourly-count six-hourly"
              "HourIndex" $hourIndex
              "Duration" 6
              "Species" $element.Note.CommonName
              "Date" $.SelectedDate
              "Count" (sumHourlyCountsRange $element.HourlyCounts $hourIndex 6)}}
          {{end}}
        {{end}}
      {{end}}

      <td class="py-0 px-1"></td>
    </tr>
    {{end}}
  </tbody>
</table>
{{end}}

{{define "hourHeader"}}
<th scope="col" class="text-center pt-0.5 pb-0 px-0 hour-header {{.Class}}">
  <a href="#" hx-get="/api/v1/detections?date={{urlquery .Date}}&hour={{.HourIndex}}&duration={{.Length}}&queryType=hourly" hx-target="#mainContent" hx-trigger="click" hx-push-url="true">
    {{printf "%02d" .HourIndex}}
    {{$endHour := add .HourIndex .Length}}
    {{if and (le .HourIndex .Sunrise) (gt $endHour .Sunrise)}}
      <span class="sunrise-icon">
        {{sunPositionIcon (timeOfDayToInt "dawn")}}
      </span>
    {{end}}
    {{if and (le .HourIndex .Sunset) (gt $endHour .Sunset)}}
      <span class="sunset-icon">
        {{sunPositionIcon (timeOfDayToInt "dusk")}}
      </span>
    {{end}}
  </a>
</th>
{{end}}

{{define "countDisplay"}}
<td class="hour-data {{.Class}} heatmap-color-{{heatmapColor .Count}} text-center h-full py-0 px-0">
  {{if gt .Count 0}}
  <a href="#" hx-get="/api/v1/detections?species={{urlquery .Species}}&date={{urlquery .Date}}&hour={{.HourIndex}}&duration={{.Duration}}&queryType=species" hx-target="#mainContent" hx-trigger="click" hx-push-url="true">
    {{.Count}}
  </a>
  {{else}}-{{end}}
</td>
{{end}}