{{define "listDetections"}}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0 p-4 ml-2">
        <div class="flex justify-between">
            <!-- Title -->
            <span class="card-title grow link-hover link">
                {{if eq .QueryType "hourly"}}
                    Hourly Results for {{.Hour}}:00 on {{.Date}}
                {{else if eq .QueryType "species"}}
                    Results for {{.Species}} on {{.Date}}
                {{else if eq .QueryType "search"}}
                    Search Results for "{{.Search}}"
                {{else}}
                    All Detections for {{.Date}}
                {{end}}
            </span>
        </div>
    </div>

    <table class="table w-full text-sm text-left text-gray-600 dark:text-gray-300">
        <thead class="text-xs">
            <tr>
                <!-- Date Column -->
                <th scope="col" class="py-2 px-6" style="width: 15%">Date</th>
                
                <!-- Time Column -->
                <th scope="col" class="py-2 px-2" style="width: 15%">Time</th>
                
                <!-- Weather Column, selectively enabled -->
                {{if .WeatherEnabled}}
                <th scope="col" class="py-2 px-2" style="width: auto">Weather</th>
                {{end}}

                <!-- Common Name Column -->
                <th scope="col" class="py-2 px-4" style="width: auto">Common Name</th>
                
                <!-- Thumbnail Column -->
                {{if .DashboardSettings.Thumbnails.Summary}}
                <th scope="col" class="py-2 px-4" style="width: 20%">Thumbnail</th>
                {{end}}
                
                <!-- Confidence Column -->
                <th scope="col" class="py-2 px-4" style="width: auto">Confidence</th>
                
                <!-- Recording Column -->
                <th scope="col" class="py-2 px-4" style="width: 30%">Recording</th>
            </tr>
        </thead>
        <tbody>
            {{range .Notes}}
            <tr class="">
                <!-- Date Column -->
                <td class="py-1 px-6">{{.Date}}</td>
                
                <!-- Time Column -->
                <td class="py-1 px-2">
                    <div class="flex items-start gap-2">                        
                        <span class="flex-shrink-0">{{sunPositionIcon .TimeOfDay}}</span>
                        <span>{{.Time}}</span>
                    </div>
                </td>

                <!-- Weather Column -->
 
                {{if $.WeatherEnabled}}
                    <td class="py-1 px-2">
                    {{if .Weather}}
                        <div class="flex items-center gap-2">
                            {{weatherIcon .Weather.WeatherMain .TimeOfDay}}
                            {{.Weather.WeatherMain}}
                        </div>
                    {{else}}
                        <div>No weather data</div>
                    {{end}}
                    </td>
                {{end}}
                
                <!-- Common Name Column -->
                <td class="py-1 px-4">
                    <a href="#" hx-get="/note?id={{.ID}}" hx-target="#mainContent" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">
                        {{.CommonName}}
                    </a>
                </td>
                
                <!-- Thumbnail Column -->
                {{if $.DashboardSettings.Thumbnails.Summary}}
                <td class="py-1 px-4">
                    <div class="thumbnail-container">
                        <img loading="lazy" width="150" src="{{thumbnail .ScientificName}}" class="h-auto rounded-md">
                        <div class="thumbnail-tooltip hidden">
                            {{thumbnailAttribution .ScientificName}}
                        </div>
                    </div>
                </td>
                {{end}}
                
                <!-- Confidence Column -->
                <td class="py-1 px-4">
                    <div class="confidence-ball {{confidenceColor .Confidence}} text-white font-medium">
                        <a href="#" hx-get="/note?id={{.ID}}" hx-target="#mainContent" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">
                            {{confidence .Confidence}}
                        </a>
                    </div>
                </td>
                
                <!-- Recording Column -->
                <td class="py-1 px-6 flex justify-center">
                    <div class="w-full">
                        <!-- Spectrogram Image  -->
                        <a href="#" hx-get="/note?id={{.ID}}" hx-target="#mainContent" hx-swap="innerHTML" hx-trigger="click" hx-push-url="true">
                            <img loading="lazy" width="400" src="/media/spectrogram?clip={{urlquery .ClipName}}" alt="Spectrogram Image" class="max-w-full h-auto rounded-md">
                        </a>

                        <!-- Audio player -->
                        <audio controls class="audio-control" preload="metadata">
                            <source src="{{.ClipName}}" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>

                    </div>
                </td>
            </tr>
            {{end}}

            {{if gt .TotalResults .ItemsPerPage}}
            <tr>
                <td colspan="6">
                    <div class="flex justify-between items-center p-4">
                    <div class="text-sm text-gray-600">
                        Showing {{.ShowingFrom}} to {{.ShowingTo}} of {{.TotalResults}} results
                    </div>
                    <div class="flex space-x-2">
                        {{if gt .CurrentPage 1}}
                            <button hx-get="?queryType={{.QueryType}}&date={{.Date}}&hour={{.Hour}}&species={{.Species}}&search={{.Search}}&numResults={{.NumResults}}&offset={{sub .Offset .NumResults}}"
                                hx-target="#mainContent"
                                class="btn btn-sm btn-primary">
                                Previous
                            </button>
                        {{else}}
                            <button class="btn btn-sm btn-disabled">
                                Previous
                            </button>            
                        {{end}}
                        {{if lt .CurrentPage .TotalPages}}
                            <button hx-get="?queryType={{.QueryType}}&date={{.Date}}&hour={{.Hour}}&species={{.Species}}&search={{.Search}}&numResults={{.NumResults}}&offset={{add .Offset .NumResults}}"
                                hx-target="#mainContent"
                                class="btn btn-sm btn-primary">
                                Next
                            </button>
                        {{else}}
                            <button class="btn btn-sm btn-disabled">
                                Next
                            </button>       
                        {{end}}
                    </div>
                    </div>
                </td>
            </tr>
            {{end}}
            
        </tbody>
    </table>

</section>
{{end}}