{{define "recentDetections"}}

<table class="hidden sm:table table w-full text-sm text-left">
  <thead class="text-xs">
    <tr>
      <th scope="col" class="py-2 px-6" style="width:15%;">Date</th>
      <th scope="col" class="py-2 px-6" style="width:15%;">Time</th>
      <th scope="col" class="py-2 px-6" style="width:15%;">Common Name</th>
      {{if .DashboardSettings.Thumbnails.Recent}}
      <th scope="col" class="py-2 px-6" style="width:20%;">Thumbnail</th>
      {{end}}
      <th scope="col" class="py-2 px-6" style="width:15%;">Confidence</th>
      <th scope="col" class="py-2 px-6" style="width:25%;">Recording</th>
    </tr>
  </thead>
  <tbody>
    {{range .Notes}}
    <tr class="">
      <!-- Date -->
      <td class="py-1 px-6 font-normal">{{.Date}}</td>

      <!-- Time --> 
      <td class="py-1 px-6 font-normal">{{.Time}}</td>

      <!-- Bird species -->
      <td class="py-1 px-6 font-normal">
        <a href="#"
        hx-get="/detections/details?id={{.ID}}"
        hx-target="#mainContent"
        hx-swap="innerHTML"
        hx-trigger="click"
        hx-push-url="true">
        {{ .CommonName}}</a>
      </td>
      
      <!-- Bird thumbnail  -->
      {{if $.DashboardSettings.Thumbnails.Recent}}
      <td class="py-1 px-6 relative">  
        <div class="thumbnail-container">
          <img loading="lazy" width="50%" src="{{thumbnail .ScientificName}}" class="h-auto rounded-md">
          <div class="thumbnail-tooltip hidden">
            {{thumbnailAttribution .ScientificName}}
          </div>
        </div>
      </td>
      {{end}}

      <!-- Confidence indicator -->
      <td class="py-1 px-6">
        <div class="confidence-ball {{confidenceColor .Confidence}} text-white font-medium">
          {{ confidence .Confidence}}
        </div>
      </td>
      <td class="py-1 px-6 flex justify-center">
        <div class="w-full">
          <!-- Spectrogram Image  -->
          <a href="#"
              hx-get="/detections/details?id={{.ID}}"
              hx-target="#mainContent"
              hx-swap="innerHTML"
              hx-trigger="click"
              hx-push-url="true">
              <img loading="lazy" width="400" src="/media/spectrogram?clip={{urlsafe .ClipName}}" alt="Spectrogram Image" class="max-w-full h-auto rounded-md">
          </a>

          <!-- Audio player -->
          <audio controls class="audio-control" preload="metadata">
            <source src="{{urlsafe .ClipName}}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        </div>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

<!-- Responsive layout for small screens -->
<div class="sm:hidden">
  {{range .Notes}}
  <div class="shadow-md rounded-lg p-4 mb-4">
    <!-- First row: timestamp, bird species, thumbnail, and confidence -->
    <div class="flex items-center mb-3">
      <!-- Timestamp -->
      <span class="text-sm font-normal mr-2">{{.Time}}</span>
      
      <!-- Bird species -->
      <a href="#"
        hx-get="/detections/details?id={{.ID}}"
        hx-target="#mainContent"
        hx-swap="innerHTML"
        hx-trigger="click"
        hx-push-url="true"
        class="text-sm font-normal flex-grow">
        {{title .CommonName}}
      </a>

      <!-- Thumbnail -->
      {{if $.DashboardSettings.Thumbnails.Recent}}
      <div class="thumbnail-container w-20 mx-2">
        <img loading="lazy" src="{{thumbnail .ScientificName}}" class="rounded-md">
      </div>
      {{end}}

      <!-- Confidence indicator -->
      <div class="confidence-ball {{confidenceColor .Confidence}} text-white font-medium text-xs px-2 py-1 rounded">
        {{confidence .Confidence}}
      </div>
    </div>

    <!-- Second row: Spectrogram -->
    <div class="mb-3">
      <img loading="lazy" src="/media/spectrogram?clip={{urlsafe .ClipName}}" alt="Spectrogram" class="w-full h-auto rounded-md shadow-sm">
    </div>
   
    <!-- Audio player -->
    <div>
      <audio controls class="audio-control w-full" preload="metadata">
        <source src="{{urlsafe .ClipName}}" type="{{getAudioMimeType .ClipName}}">
          Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  {{end}}
</div>

{{end}}