{{define "recentDetections"}}

<table class="table w-full text-sm text-left text-gray-600 dark:text-gray-300">
  <thead class="text-xs">
    <tr>
      <th scope="col" class="py-2 px-6" style="width:15%;">Date</th>
      <th scope="col" class="py-2 px-6" style="width:15%;">Time</th>
      <th scope="col" class="py-2 px-6" style="width:25%;">Common Name</th>
      <th scope="col" class="py-2 px-6" style="width:20%;">Confidence</th>
      <th scope="col" class="py-2 px-6" style="width:25%;">Recording</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr class="">
      <td class="py-1 px-6">{{.Date}}</td>
      <td class="py-1 px-6">{{.Time}}</td>
      <td class="py-1 px-6">{{title .CommonName}}</td>
      <td class="py-1 px-6">
        <div class="confidence-ball {{confidenceColor .Confidence}} text-white font-medium">
          {{confidence .Confidence}}
        </div>
      </td>
      <td class="py-1 px-6 flex justify-center">
        <div class="w-full">
          <!-- Spectrogram Image  -->
          <img src="{{.Spectrogram}}" loading="lazy" alt="Spectrogram Image" class="max-w-full h-auto rounded-md">

          <!-- Audio player -->
          <audio controls class="audio-control" preload="none">
            <source src="{{.ClipName}}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
        </div>
      </td>
    </tr>
    {{end}}
  </tbody>
</table>

{{end}}